[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
pygal = "*"
elasticsearch = "*"
elasticsearch-dsl = "*"
model-mommy = "*"
requests = "*"
django-bootstrap3 = "*"
pytest = "*"
pytest-mock = "*"
pytest-sugar = "*"

[requires]
python_version = "3.8"
